:root {
  --color-primary: #f5bd2d;
  --color-white: #fafafa;
  --color-black: #212121;
  --gradient-primary: linear-gradient(286.93deg, #ea4040 6.11%, #f5a52d 98.56%);
  --gradient-primary-mb: linear-gradient(307.66deg, #ea4040 3.39%, #f5a52d 92.87%);
  --gradient-secondary: linear-gradient(286.93deg, #080b44 6.11%, #1a1d60 98.56%);
  --gradient-green: linear-gradient(286.93deg, #11b418 6.11%, #0fd55e 98.56%);
  --gradient-blue: linear-gradient(322.72deg, #2718ca 11.72%, #4584e1 84.11%);
}
